@import '../global/variable.scss';
@import '../global/mixins.scss';
@import '../global/fonts.scss';


header {
    .bandeau {
        width: 100%;
        height: 300px;
        background: url(../../assets/header-img.JPG) 50% no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
            margin: 0 auto;
            text-align: center;
            font-size: 3rem;
            color: $nav--text--color;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            text-transform: uppercase;

            img {
                width: 300px;

                @include breakpoint(md) {
                    width: 400px;
                }

                @include breakpoint(lg) {
                    width: 500px;
                }
            }
        }
    }
}

.accroche {
    padding: 20px 0 20px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: $Background--color--presenterGaa;




    @include breakpoint(md) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: url(../../assets/dehindPlanteArrondiAuTop.jpg) no-repeat;
        background-size: 25% 100%;
        background-color: $Background--color--presenterGaa;
    }


    .img {
        text-align: center;
        width: 50%;
        margin-top: 20px;

        img {
            width: 70%;
            margin-bottom: 20px;
            border-top-left-radius: 200%;
            border-top-right-radius: 200%;
            margin-top: 20px;


            @include breakpoint(xl) {
                width: 70%;
            }

            @include breakpoint(lg) {
                width: 60%;
                margin-left: 80px;
                height: 450px;

            }

            @include breakpoint(md) {
                width: 60%;

            }


        }
    }

    .presenterGaa {
        width: 90%;
        text-align: center;
        z-index: 1000;

        @include breakpoint(lg) {
            margin: 0 auto;
        }

        img {

            @include breakpoint(md) {
                margin-left: -60px;
            }
        }

        p {
            color: $nav--text--color;
            font-size: 1.3rem;
            margin-bottom: 20px;


            @include breakpoint(md) {
                text-align: initial;
                font-size: 1.5em;
                width: 100%;
            }

            span {
                font-weight: bold;
            }
        }

        .btn-about {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 35px;
            border: none;

            @include breakpoint(md) {
                margin-top: 50px
            }

            .about {
                text-decoration: none;
                background-color: $nav--text--color;
                padding: 5px 5px 5px 5px;
                color: $nav--background;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-family: "Tenor Sans", sans-serif;
                transition: all ease 0.6s;

                &:hover {
                    border-radius: 10px;
                }
            }
        }


        @include breakpoint(md) {
            text-align: start;
            max-width: 400px;
        }



    }
}

.liste-soins {
    background: url(../../assets/lignes.png) no-repeat;
    background-color: $background-soins;
    background-position-x: 100%;
    background-size: contain;
    height: 800px;

    @include breakpoint(md) {
        padding: 80px 20px 0 20px;
        height: 400px
    }

    h2 {
        text-align: center;
        font-size: 3rem;
        margin: 0 auto;
        color: $background-soins;
        background: url(../../assets//bckgTitreSoins.png) no-repeat;
        background-size: 100% 100% ;
        
        font-family: "Tenor Sans", sans-serif;
        min-width: 300px;
        max-width: 400px;
        height: 70px;
    }

    ul {
        background: url(../../assets/lienSoinsColor-removebg-preview.png) no-repeat;
        background-position-x: center;
        background-position-y: center;
        background-size: 100% 40%;
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;
        margin: 0;

        @include breakpoint(md) {
            flex-direction: row;
            height: 350px;
        }

        li {
            text-align: center;

            h3 {
                color: $nav--text--color;
                font-family: "Tenor Sans", sans-serif;
            }
        }
    }

    .bandeau {
        width: 100%;
        height: 100px;
    }
}